@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;

    --theme-color: rgb(238, 77, 45);
}

body {
    margin: 0;
}

#meal-details-section {
    display: flex;
    flex-direction: column;
}

#meal-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

#meal-content {
    padding-inline: 1rem;
    padding-bottom: 2rem;
}

#meal-title {
    padding-top: 1rem;
    margin: 0px;
}

.instruction-content {
    line-height: 2rem;
}

.instruction-step {
    font-weight: 600;
}

.heading {
    font-size: 1rem;
    font-weight: 500;
    color: var(--theme-color);
    text-transform: uppercase;
}

.imp {
    font-weight: 500;
}

.ingredients-table {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.ingredients-table tr:nth-child(odd) {
    background-color: #eee;
}

.ingredients-table tr:nth-child(even) {
    background-color: #edd;
}

td {
    padding: 0.75rem 1rem;
}

.ingredient {
    text-transform: capitalize;
}

@media (min-width: 768px) {

    #meal-details-section {
        flex-direction: row;
    }

    #meal-image {
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        object-fit: cover;
        max-width: 45%;
    }

    #meal-content {
        padding-inline: 2rem;
        padding-bottom: 2rem;
        flex-grow: 1;
        overflow: scroll;
    }

    .instruction-content {
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .instruction-step {
        margin: 0px;
        font-weight: 600;
    }

    .heading {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--theme-color);
        text-transform: uppercase;
    }

}